<p>
  <mat-toolbar color="primary">

      <mat-toolbar-row>
        <span class="center-vertical">Tarea #8</span>
          <span class="example-spacer"></span>
          <button type="submit" mat-icon-button [matMenuTriggerFor]="menu" >
              <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
              <a routerLink="/">
                  <button type="submit" mat-menu-item>
                      Formulario
                  </button>
              </a>
              <a routerLink="/tabla">
                  <button type="submit" mat-menu-item>
                      Tabla
                  </button>
              </a>
          </mat-menu>
      </mat-toolbar-row>
  </mat-toolbar>
</p>
