.example-spacer {
  flex: 1 1 auto;
}

.in-row {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.center-vertical {
  display: flex;
  align-items: center;
}


a {
  color: black;
  text-decoration: none;
}
